<div class="nav">
  <div class="container">
    <div class="row">
      <div class="fourteen columns">
          <a href="{{ site.baseurl }}/"><span class="logo"><img src="{{ site.baseurl }}{{ site.logo }}" /></span></a>
          <div class="page-links u-pull-right">
            <a class="page-link" href="{{ site.baseurl }}/">Home</a>
            <a class="page-link" href="{{ site.baseurl }}/articles">Articles</a>
            <!--a class="page-link" href="{{ site.baseurl }}/about">About</a-->
          </div>
      </div>
    </div>
  </div>
</div>
