<div class="nav">
  <div class="container">
    <div class="row">
      <div class="fourteen columns offset-by-one navbar">
        <div class="page-links">
          <a class="page-link" href="{{ site.baseurl }}/">Home</a>
          <a class="page-link" href="{{ site.baseurl }}/articles">Articles</a>
          <!--a class="page-link" href="{{ site.baseurl }}/about">About</a-->
        </div>
        <a href="{{ site.baseurl }}/"><span class="logo u-pull-right"><img src="{{ site.baseurl }}{{ site.logo }}" alt="Medical toolkit logo" /></span></a>
      </div>
    </div>
  </div>
</div>
