<div class="nav">
  <div class="container">
    <div class="row">
      <div class="fourteen columns offset-by-one navbar">
        <div class="page-links">
          <!--a class="page-link" href="{{ site.baseurl }}/">Home</a-->
          <a class="page-link" href="{{ site.baseurl }}/">Articles</a>
          <a class="page-link" href="{{ site.baseurl }}/shorts">Shorts</a>
          <!--a class="page-link" href="{{ site.baseurl }}/books">Books</a-->
        </div>
        <a href="https://app.hellodr.net"><span class="logo u-pull-right"><img src="{{ site.baseurl }}{{ site.logo }}" alt="HelloDr logo" /></span></a>
      </div>
    </div>
  </div>
</div>
