@import "skeleton/loader";

// Add custom styles here
.nav {
  .navbar {
    border-bottom: 1px solid $anti-flash-white;
  }
  padding: 1rem 0 1rem 0.5rem;
  .logo {
    text-align: right;
    width: auto;
    img {
      width: 60px;
      margin-bottom: 0.5rem;
    }
  }
  .page-links {
    text-align: left;
    display: inline-block;
    font-size: 1em;
    padding-right: 1rem;
    .page-link {
      text-decoration: none;
      padding-right: 1em;
    }
  }
}
.container {
  padding: 0;
}
.content {
  p {
    padding: 0 1rem;
    text-align: left;
  }
  .container {
    .sidecolumn {
      .badge {
        padding-top: 1.5rem;
        .linkedin {
          padding-top: 0;
          display: none;
        }
        .facebook {
          padding-bottom: -3rem;
          display: none;
        }
      }
      h5 {
        padding-top: 2rem;
      }
      .addthis_inline_follow_toolbox {
        p {
          display: none;
        }
      }
      ul {
        li {
          list-style: disc outside;
          text-decoration: none;
          padding-left: 0rem;
          text-indent: 0rem;
          a {
            text-decoration: none;
            color: $onyx;
          }
          a:hover {
            color: $metallic-seaweed;
          }
        }
      }
    }
    .author-block {
      color: #8a8a8a;
    }
    .left-blockquote {
      text-align: left;
      padding-left: 0;
      margin-left: 0;
      p {
        background: $anti-flash-white;
        color: $metallic-seaweed;
        max-width: 40em;
        width: 100%;
        padding: 2em;
        text-align: left;
        border-radius: 1em;
      }
    }
    .right-blockquote {
      text-align: right;
      padding-right: 0;
      margin-right: 0;
      p {
        background: $anti-flash-white;
        color: $onyx;
        max-width: 40em;
        padding: 2em;
        text-align: right;
        border-radius: 1em;
      }
    }
    ul {
      li {
        margin-left: 2rem;
      }
    }
    button {
      font-family: $font-family;
    }
    .hero-container {
      margin-top: -4rem;
      padding-bottom: 4rem;
    }
  }
  .book-container {
    .buy-button {
      display: block;
      width: 320px;
      margin: auto;
      text-align: center!important;
    }
  }

  .sidecolumn {
    .featured {
      border-top: none;
      padding: 1rem 0;
      margin: 2rem 0;
    }
  }
  .featured {
    padding: 2rem 1rem;
    margin: 4rem 0 2rem;
    border-top: 1px solid #f5f5f5;
    background-color: #fefefe;
    ul {
      li {
        list-style: disc inside;
        padding-left: 2em;
        text-indent: -2em;
      }
    }
  }
}

body > div.container > div > div.twelve.columns.offset-by-two > div > ul {
  li {
    list-style: disc inside;
    padding-left: 3em;
    text-indent: -2em;
  }
}
.container {
  .six.columns.offset-by-five {
    .book-container {
      margin-top: 2rem;
      //border-right: 1px solid $anti-flash-white;
      //box-shadow: 1px 1px 10px 0 $anti-flash-white;
    }
  }
}

.banner {
  padding: 1em 0.5em;
  margin: 2em 0.5em;
  text-align: center;
  width: auto;
  background-color: #fefefe;
  border: 0.2em solid $metallic-seaweed;
  a {
    text-decoration: none;
    font-family: $heading-family;
    .problem-title {
      color: $onyx;
      margin-bottom: 1.75rem;
      p {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
        letter-spacing: 0.25rem;
      }
    }
    .agitate-title {
      font-family: $font-family;
      color: $onyx;
      margin: 2rem;
      span {
        text-transform: uppercase;;
        font-size: 1.6rem;
        letter-spacing: 0.75rem;
      }
    }
    .solution-title {
      font-family: $heading-family;
      color: $onyx;
      margin-bottom: 1.5rem;
      p {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        line-height: 2rem;
      }
    }
    .cta-text {
      color: $metallic-seaweed;
      font-weight: 400;
    }
  }
}

.author-block {
  text-align: center;
  padding: 1rem 0 0 1rem;
  .author-image {
    img {
      width: 4em;
      height: 4em;
      border-radius: 50%;
      display: inline;
    }
  }
  .author-name {
    span {
      display: block;
    }
  }
}

.article-content {
  h3 {
    font-weight: 700;
  }
  h3, h4 {
    padding: 2rem 1rem 0;
  }
  .article-meta {
    padding: 1rem;
    color: #8a8a8a;
    border-bottom: 1px solid #e5e5e5;
  }
  .article {
    padding-top: 3rem;
    ol {
      list-style-position: outside;
      padding-left: 2.5rem;
    }
    ul {
      li {
        list-style: disc inside;
        padding-left: 3em;
        text-indent: -2em;
      }
    }
  }
}

.footer {
  font-size: 1.2rem;
  color: $onyx;
  a {
    text-decoration: none;
  }
  .copyright-content {
    padding-top: 2rem;
    //padding-left: 1rem;
    text-align: center;
  }
  .madeby-content {
    //margin: 1rem;
    text-align: center;
    .madeby {
      padding-right: 1rem;
    }
  }
  .footer-content {
    border-top: 1px solid $anti-flash-white;
  }
}

/* Media Queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .content {
    p {
      padding: 0 1rem;
      text-align: left;
    }
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .nav {
    margin-bottom: 2rem;
  }
  .article-content {
    h3 {
      padding: 0 1rem;
    }
  }
  .author-block {
    text-align: left;
  }
  .footer {
    .copyright-content, .madeby-content {
      padding-top: 2rem;
    }
    .copyright-content {
      text-align: left;
    }
    .madeby-content {
      text-align: right;
      .madeby {
        padding-right: 0;
      }
    }
  }
}

/* Linkedin Badge */
.content {
  .five.columns {
    .LI-profile-badge {
      margin: 5rem 0;
    }
  }
}

/* Book page */
.container {
  .eight.columns.offset-by-four {
    text-align: center;
    .book-container {
      z-index: 90;
      background: $white;
      position: relative;
      //overflow: hidden;
      margin-bottom: 3rem;
      margin-top: 3rem;
      border-left: 2px solid $anti-flash-white;
      border-right: 2px solid $anti-flash-white;
      box-shadow: 0px 0px 8px rgba(0,0,0,0.05);
      picture {
        img {
          margin: 3rem 0;
          // border: 1px solid $anti-flash-white;
        }
      }
    }
  }
}

/* Price tag */
.tag-container {
  width: 120px;
  position: absolute;
  top: 20px;
  right: -3px;
  .tag-triangle {
    border-color: transparent #36d7b7 transparent transparent;
    border-style: solid;
    border-width: 20px;
    width: 0;
    height: 0;
    float: left;
  }
  .tag-rectangle {
    background-color: #36d7b7;
    width: 80px;
    height: 40px;
    display: inline;
    float: right;
    padding: 8px 0;
    h7.price {
      color: $onyx;
      //font-size: 16px;
      padding: 10px 0;
      text-shadow: white 0px 0px 10px;
    }
  }
  .tag-rectangle:hover h7.price span {
    display: none;
  }
  .tag-rectangle:hover h7.price:after {
    content: 'Feb 24';
  }
}

/* Button primary */
.button.button-primary {
  background-color: #36d7b7;
  border-color: #36d7b7;
  color: $onyx;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .container {
    padding: 0 2rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
