@import "skeleton/loader";

// Add custom styles here
.container {
  padding: 0;
}
.content {
  p {
    padding: 0 1rem;
    text-align: justify;
  }
}
.nav {
  padding: 1em 0.5em;
  margin-bottom: 2rem;
  .logo {
    text-align: left;
    width: auto;
    img {
      width: 60px;
      margin: 0.5em;
    }
  }
  .page-links {
    text-align: right;
    display: inline-block;
    font-size: 1em;
    .page-link {
      text-decoration: none;
      padding-left: 1em;
    }
  }
}

.banner {
  padding: 1em 0.5em;
  margin: 2em 0.5em;
  text-align: center;
  width: auto;
  background-color: #fefefe;
  img {
    // border: 0.2em solid $metallic-seaweed;
    display: none;
  }
  border: 0.2em solid $metallic-seaweed;
  a {
    text-decoration: none;
    font-family: $heading-family;
    .problem-title {
      color: $onyx;
      margin-bottom: 1.75rem;
      p {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
        letter-spacing: 0.25rem;
      }
    }
    .agitate-title {
      font-family: $font-family;
      color: $metallic-seaweed;
      margin: 2rem;
      span {
        text-transform: uppercase;;
        font-size: 1.6rem;
        letter-spacing: 0.75rem;
      }
    }
    .solution-title {
      font-family: $heading-family;
      color: $onyx;
      margin-bottom: 1.5rem;
      p {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        line-height: 2rem;
      }
    }
  }
}

.footer {
  color: #4d4d4d;
  a {
    text-decoration: none;
  }
  .copyright-content {
    padding-top: 2rem;
    text-align: center;
  }
  .madeby-content {
    //margin: 1rem;
    text-align: center;
  }
}

/* Media Queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .content {
    p {
      padding: 0 1rem;
      text-align: left;
    }
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .footer {
    .copyright-content, .madeby-content {
      border-top: 1px solid #e5e5e5;
      padding-top: 2rem;
      margin: 1rem;
    }
    .copyright-content {
      text-align: left;
    }
    .madeby-content {
      text-align: right;
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
