@import "skeleton/loader";

// Add custom styles here
.nav {
  .navbar {
    border-bottom: 1px solid $anti-flash-white;
  }
  padding: 1rem 0 1rem 0.5rem;
  .logo {
    text-align: right;
    width: auto;
    img {
      width: 60px;
      margin-bottom: 0.5rem;
    }
  }
  .page-links {
    text-align: left;
    display: inline-block;
    font-size: 1em;
    padding-right: 1rem;
    .page-link {
      text-decoration: none;
      padding-right: 1em;
    }
  }
}
.container {
  padding: 0;
}
.content {
  p {
    padding: 0 1rem;
    text-align: left;
  }
  .container {
    .sidecolumn {
      .badge {
        padding-top: 1.5rem;
        .linkedin {
          padding-top: 0;
          display: none;
        }
        .facebook {
          padding-bottom: -3rem;
          display: none;
        }
      }
      h5 {
        padding-top: 2rem;
      }
      .addthis_inline_follow_toolbox {
        p {
          display: none;
        }
      }
      ul {
        li {
          list-style: none;
          text-decoration: none;
          a {
            text-decoration: none;
            color: $onyx;
          }
          a:hover {
            color: $metallic-seaweed;
          }
        }
        li:before {
          content: "•";
          padding-right: 0.5rem;
          color: $metallic-seaweed;
        }
      }
    }
    .author-block {
      color: #8a8a8a;
    }
    .left-blockquote {
      text-align: left;
      padding-left: 0;
      margin-left: 0;
      p {
        background: $anti-flash-white;
        color: $metallic-seaweed;
        max-width: 40em;
        width: 100%;
        padding: 2em;
        text-align: left;
        border-radius: 1em;
      }
    }
    .right-blockquote {
      text-align: right;
      padding-right: 0;
      margin-right: 0;
      p {
        background: $anti-flash-white;
        color: $onyx;
        max-width: 40em;
        padding: 2em;
        text-align: right;
        border-radius: 1em;
      }
    }
    ul {
      li {
        margin-left: 2rem;
      }
    }
    button {
      font-family: $font-family;
    }
    .hero-container {
      margin-top: -4rem;
      padding-bottom: 4rem;
    }
    .book-container {
      //padding-top: 4rem!important;
    }
  }
  .sidecolumn {
    .featured {
      border-top: none;
      padding: 1rem 0;
      margin: 2rem 0;
    }
  }
  .featured {
    padding: 2rem 1rem;
    margin: 4rem 0 2rem;
    border-top: 1px solid #f5f5f5;
    background-color: #fefefe;
    ul {
      li {
        list-style: none;
        margin-left: 0;
      }
      li:before {
        content: "•";
        padding: 0 1rem;
        color: $onyx;
      }
    }
  }
}

.banner {
  padding: 1em 0.5em;
  margin: 2em 0.5em;
  text-align: center;
  width: auto;
  background-color: #fefefe;
  border: 0.2em solid $metallic-seaweed;
  a {
    text-decoration: none;
    font-family: $heading-family;
    .problem-title {
      color: $onyx;
      margin-bottom: 1.75rem;
      p {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
        letter-spacing: 0.25rem;
      }
    }
    .agitate-title {
      font-family: $font-family;
      color: $onyx;
      margin: 2rem;
      span {
        text-transform: uppercase;;
        font-size: 1.6rem;
        letter-spacing: 0.75rem;
      }
    }
    .solution-title {
      font-family: $heading-family;
      color: $onyx;
      margin-bottom: 1.5rem;
      p {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        line-height: 2rem;
      }
    }
    .cta-text {
      color: $metallic-seaweed;
      font-weight: 400;
    }
  }
}

.author-block {
  text-align: center;
  padding: 1rem 0 0 1rem;
  .author-image {
    img {
      width: 4em;
      height: 4em;
      border-radius: 50%;
      display: inline;
    }
  }
  .author-name {
    span {
      display: block;
    }
  }
}

.article-content {
  h3 {
    font-weight: 700;
  }
  h3, h4 {
    padding: 2rem 1rem 0;
  }
  .article-meta {
    padding: 1rem;
    color: #8a8a8a;
    border-bottom: 1px solid #e5e5e5;
  }
  .article {
    padding-top: 3rem;
    ol {
      list-style-position: outside;
      padding-left: 2.5rem;
    }
    ul {
      li {
        list-style: none;
      }
      li:before {
        content: "•";
        padding: 0 1rem;
        color: $onyx;
      }
    }
  }
}

.footer {
  font-size: 1.2rem;
  color: $onyx;
  a {
    text-decoration: none;
  }
  .copyright-content {
    padding-top: 2rem;
    //padding-left: 1rem;
    text-align: center;
  }
  .madeby-content {
    //margin: 1rem;
    text-align: center;
    .madeby {
      padding-right: 1rem;
    }
  }
  .footer-content {
    border-top: 1px solid $anti-flash-white;
  }
}

/* Media Queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .content {
    p {
      padding: 0 1rem;
      text-align: left;
    }
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .nav {
    margin-bottom: 2rem;
  }
  .article-content {
    h3 {
      padding: 0 1rem;
    }
  }
  .author-block {
    text-align: left;
  }
  .footer {
    .copyright-content, .madeby-content {
      padding-top: 2rem;
    }
    .copyright-content {
      text-align: left;
    }
    .madeby-content {
      text-align: right;
      .madeby {
        padding-right: 0;
      }
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .container {
    padding: 0 2rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
