/* Your custom CSS & overrides go here... */
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1.6rem;
}
a {
  color: #107895;
  text-decoration: underline;
}
a:hover {
  color: #363b3d;
  text-decoration: underline;
}
.color-white {
  color: #fff;
}
.color-anti-flash-white {
  color: #f1f3f4;
}
.color-sage {
  color: #b4c387;
}
.color-metallic-seaweed {
  color: #107895;
}
.color-onyx {
  color: #363b3d;
}
.nav {
  padding: 1em 0.5em;
  margin-bottom: 2em;
}
.logo {
  text-align: left;
  width: auto;
}

.logo img {
  width: 60px;
  margin: 0.5em;
}

.page-links {
  text-align: right;
  display: inline-block;
  font-size: 1.1em;
}

.page-link {
  text-decoration: none;
  padding-left: 1em;
}

.banner {
  padding: 1em 0.5em;
  margin: 1em 0.5em;
  text-align: center;
  width: auto;
}

/* Example for page columns demo */
.example .column, .example .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

/* Media Queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
