---
layout: default
---

{% include navbar.html %}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="fourteen columns offset-by-one">
        <div class="hero-container">
          {% picture hero {{ page.image.file }} alt="{{ page.image.alt }}" %}
        </div>
      </div>
      <div class="four columns offset-by-one">
        {% assign author = site.data.authors[page.author] %}
        <div class="author-block u-pull-left">
          <div class="author-image">
            <img src="{{ author.image }}" alt="author image">
          </div>
          <div class="author-name">
            <span>By {{ author.name }}</span>
          </div>
        </div>
      </div>
      <div class="ten columns">
        <div class="article-content">
          <h3>{{ page.title }}</h3>
          <div class="article-meta">
            {% include reading_time.html %} — Get tips and tricks delivered to your inbox by subscribing to our newsletter
          </div>
          <div class="article">
            {{ content }}
          </div>
        </div>
        {% include linkedin_badge.html %}
      </div>
      <div class="fourteen columns offset-by-one">
        {% include disqus.html %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
