---
layout: default
---

<div class="container">
  <div class="row">
    <div class="eight columns offset-by-four">
      <div class="book-container">
        {% picture {{ page.image.file }} alt="{{ page.image.alt }}" %}
        <div class="tag-container">
          <div class="tag-triangle">
          </div>
          <div class="tag-rectangle">
            <h7 class="price"><span>Rs 799</span></h7>
          </div>
        </div>
        {% include buy_button.html %}
      </div>
    </div>
    <div class="twelve columns offset-by-two">
      <div class="buy-book-box">
        {{ content }}
        <div class="u-pull-left">
          {% include buy_button.html %}
        </div>
        <div class="u-pull-right">
          {% include nope_button.html %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
