---
layout: default
---
{% include navbar.html %}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="four columns offset-by-one">
        <div class="sidecolumn">
          <div class="badge">
            <div class="twitter">
              <a href="https://twitter.com/0rthodoc" class="twitter-follow-button" data-show-count="true">Follow Dr Biswajit</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="addthis_inline_follow_toolbox"></div>
          </div>
          <div class="featured">
            {% if site.articles[0] %}
            <h5>Featured</h5>
              <ul>
              {% for article in site.articles limit: 3 %}
                {% if article.featured == true %}
                  <li>
                    <a href="{{ site.baseurl }}{{ article.url }}">
                      {{ article.title }}
                    </a>
                  </li>
                {% else %}
                  We do not have a featured article yet! Come back later.
                {% endif %}
              {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="ten columns">
        <div class="article-content">
          <h3>{{ page.title }}</h3>
          <div class="article-meta">
            {% include reading_time.html %} — Get tips and tricks to save time by clicking <a rel="ck_modal" href="#ck_modal">here</a>
          </div>
          <div class="article">
            {{ content }}
          </div>
        </div>
        {% include linkedin_badge.html %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
