---
layout: default
---

{% include cta_banner.html %}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="fourteen columns offset-by-one">
        {{ content }}
        <div class="author-block">
          <div class="author-image">
            <img src="{{ site.author_image }}" alt="author image">
          </div>
          <div class="author-name">
            {{ site.name }}
          </div>
        </div>
        <div class="featured">
          {% if site.articles[0] %}
          <h5>Featured Articles</h5>
            <ul>
            {% for article in site.articles limit: 3 %}
              {% if article.featured == true %}
                <li>
                  <a href="{{ site.baseurl }}{{ article.url }}">
                    {{ article.title }}
                  </a>
                </li>
              {% else %}
                We do not have a featured article yet! Come back later.
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
